<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMART FARM</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/cmmn.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/section.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/chart.css">
</html>